body {
  padding: 40px 230px 240px 230px;
  background-color: #0e0e0e;
  font-family: "Gilam", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1920px;
  margin: 0 auto;
  padding-left: 230px;
  padding-right: 230px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1920px;
  margin-bottom: 120px;
  margin: 0 auto 120px auto;
  padding-left: 230px;
  padding-right: 230px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 220px;
  height: 50px;
  border: 1px solid #e4b564;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
}

.btn {
  text-decoration: none;
  color: #e4b564;
}

.btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 220px;
  height: 50px;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
  border: 1px solid #e4b564;
}

.title {
  font-size: 50px;
  line-height: 0.56;
  font-weight: 400;
  margin-bottom: 40px;
}

.subtitle {
  font-weight: 400;
  font-size: 50px;
  line-height: 0.56;
}

.text {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 40px;
}

.wrapper-grid-1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  grid-column-gap: 34px;
  grid-row-gap: 27px;
  margin-bottom: 160px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  padding-right: 44px;
  padding-left: 44px;
}

.item-1 {
  grid-column: span 2;
  background-color: #634f2c;
}

.item-2 {
  grid-column: span 2;
  background-color: #b4a385;
}

.item-3 {
  grid-column: span 2;
  background-color: #e4b564;
}

.item-4 {
  grid-column: span 3;
  background-color: #635a4a;
}

.item-5 {
  grid-column: span 3;
  background-color: #b08c4d;
}

.text-and-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.wrapper-grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 255px 32px 101px 122px 277px;
  grid-gap: 25px 30px;
  margin-bottom: 190px;
  margin-top: 80px;
}

.items {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding-top: 44px;
  padding-left: 48px;
  color: #fff;
  background-color: #0a0909;
}

.items-1,
.items-6 {
  grid-row: span 2;
}

.items-2,
.items-4,
.items-5 {
  grid-row: span 3;
}

.items-2,
.items-3,
.items-5 {
  background-color: #242424;
}

.items-6 {
  background-color: #e4b564;
  color: #000;
}

.container-flex {
  width: 1920px;
  background-color: #0a0909;
  padding-top: 172px;
  padding-left: 230px;
  padding-right: 230px;
  margin: 0 auto;
}

.list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  list-style-type: none;
  width: calc(100% / 3);
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(232, 210, 171, 0.76);
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 22px;
  line-height: 1.27;
  font-weight: 400;
}

.list-item-1,
.list-item-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #634f2c;
}

.list-item-3 {
  background-color: #e4b564;
}

.list-item-4 {
  background-color: #635a4a;
}

.list-item-5 {
  background-color: #b08c4d;
}
